.posicao{
    width: 200px;
    height: 200px;
    background-color: rgb(9, 251, 9);
    border-bottom: 3px dashed rgb(43, 43, 227);
}

.static{
    border-right: 5px solid salmon;
    position: static;
    top: 20px;
}